@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #173d33;
  --background-start: #f3f5fa;
  --background-end-rgb: #eaedf1;
  --neutral-200: #dcefd8;
  --secondary: #97d28b;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(var(--primary));
  background: rgb(var(--background-start));
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  @apply px-[20px] relative mx-auto max-w-[480px]
 md:min-w-[768px]
  xl:min-w-[1280px];
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 250px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
