.acrd-quest-wrp {
  @apply flex justify-between items-center pt-[16px] px-0 border-t-[1px] border-primary
    xl:py-[24px];
}

.acrd-btn-open {
  @apply flex items-center p-0  w-[28px] h-[28px] m-0;
}

.acr-qst-text {
  @apply text-justify text-[18px] leading-[18px] text-primary pb-[16px] pl-[8px] tracking-[-0.72px]
    md:text-[18px] md:leading-[28px] md:pl-[16px] 
    xl:text-[24px] xl:pl-[24px] xl:pb-0;
}

.acr-answ-text {
  @apply text-justify text-[14px] leading-[17px]  text-primary pb-[16px] pl-[37px] tracking-[-0.64px]
    md:pl-[44px] md:leading-[19px]
    xl:pl-[54px] xl:pb-[24px];
}

.faq-container {
  @apply flex flex-col mb-[36px]
    md:mb-[100px] md:flex-row md:gap-[24px]
    xl:mb-[120px] xl:gap-[48px];
}

.faq-title {
  @apply text-[28px] leading-[28px] mb-[24px] uppercase
    md:hidden;
}

.faq-wrp {
  @apply md:basis-md  
    xl:basis-xl;
}

.faq-descrp-container {
  @apply flex flex-col justify-between items-center
    md:basis-md
    xl:basis-xl;
}

.faq-second-title {
  @apply hidden
    md:block md:text-[36px] md:leading-[36px] uppercase
    xl:text-[48px] xl:leading-[48px] xl:ml-[137px];
}
.faq-contact-wrp {
  @apply flex flex-col items-center mt-[20px] gap-[12px] text-[18px] leading-[22px] tracking-[-0.72px]
    md:mb-[16px]
    xl:text-[24px] xl:leading-[29px];
}

.faq-btn {
  @apply inline-flex justify-center items-center gap-[12px] px-[16px] py-[10px] 
    bg-bg_light border-none rounded-[500px] text-[16px] leading-normal tracking-[-0.64px]
    transition;

  &:hover,
  &:focus {
    @apply transition bg-bg_accent text-secondary;

    & circle {
      fill: var(--secondary);
      transition: all 0.3s ease;
    }
  }
}
